.control {
    margin: 1rem 5rem;
    
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .control input,
  .control textarea {
    display: block;
    width: 50%;
    font: inherit;
    padding: 0.2rem;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  
    .button {
        margin: 1rem 5rem;
        background-color: #3f3f3f; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
  } 

  .ul {
    margin: 0rem;
    display: flex;
    list-style: none;
    font: inherit;
    justify-content: center;
    background-color: azure;
    
  }

  .ul li {
    padding: 1rem 2rem;
    
    text-decoration: none;
  }

  .ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }